html {
  background-color: #d05c2e;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-family: Merriweather, serif;
  margin: .7rem;
}

ul {
  font-size: 1.125rem;
  margin: .4rem;
}

img {
  margin-left: .5rem;
  margin-right: .5rem;
  margin: .3rem;
  width: 40px;
}
