html {
  background-color: #fff;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-family: Merriweather, serif;
  text-align: center;
}

ul {
  font-size: 1.125rem;
  margin: .4rem;
}

img {
  margin-left: .5rem;
  margin-right: .5rem;
  margin: .3rem;
  width: 40px;
}

li {
  list-style-type: none;
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.left {
  float:left;
  max-width: 40px;
}

.right {
  float: right;
  max-width: 40px;
}

body {
    background-color: #d05c2e;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}
