html {
  background-color: #d05c2e;
  font-family: "merriweather";
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  margin: .7rem;
}

ul {
  font-size: 1.125rem;
}

img {
  background-color: #a63f38;
  margin: .3rem;
  width: 40px;
}
